body {
    background:#0C243C;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    display: inline;
    display: inline-block;
}

.name-head{
    width: 508px;
    height: 264px;
    margin-top: 50px;
    margin-left: 100px;
}
.logo-head{
    display: inline-block;
}

.head-name {
    display: inline-block;
    position: relative;
    bottom: 54px;
    text-transform: uppercase;
    font-size: xxx-large;
    font-family: Oswald;
}

